* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 50px auto;
  padding-bottom: 30px;
  max-width: 600px;
  text-align:center;
  background-color: #1a1b21;
  border-radius: 10px 10px 10px 10px;

}

.about_closing {
    margin:0 30px;
    font-weight:700;
    font-size:0.9rem;
    color: #dcdcdc;
    line-height: 1.3;
    opacity: 85%;
}



.app_closing {
  display:block;
  margin-top: 30px;
  text-align: right;
  margin-right: 30px;
  font-weight: 700;
  font-size:0.8rem;
  color:	#7a7777;
  opacity: 65%;
  transition: transform 0.5s ease-in-out;
  transform-origin:right;
  text-decoration:underline;
}

.app_closing:hover {
 transform: scale(1.1);
 color:white;
 opacity:80%;
}


